# python
__pycache__/

# environments
.env
.venv
venv/

# ignore data - download independently
data/*
!data/README.md
!data/raw/retrieve.py
!data/processed/process.py

# jupyter checkpoints
.ipynb_checkpoints/