# python
__pycache__/

# environments
.env
.venv
venv/

# ignore data - download independently
data/raw
data/processed
src/test/testing_data/*

# ignore models
src/models/finbert_model
src/models/finbert_model-20260423T141441Z-3-001.zip

src/models/bart-final-ns
src/models/bart-final-ns-20260423T185542Z-3-001.zip

# jupyter checkpoints
.ipynb_checkpoints/

# misc
.DS_Store
.DS_Storeresults/
best_finbert_model/
notebooks/my_finbert_model/
notebooks/results/
results/
