# python
__pycache__/

# environments
.env
.venv
venv/

# ignore data - download independently
data/raw
data/processed

# jupyter checkpoints
.ipynb_checkpoints/

# misc
.DS_Store
.DS_Storeresults/
best_finbert_model/
notebooks/my_finbert_model/
notebooks/results/
