numpy
pandas
scikit-learn
matplotlib
notebook
kaggle
pylint

# models
transformers
torch
datasets
accelerate>=1.1.0

# sentiment model


# summarisation model
evaluate
nltk
rouge_score

# langchain
langchain
